{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Touch Gestures Prototype</title>

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

	<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
	<script src="{% static '/vendors/hammer/hammer.min.js' %}"></script>
	<script src="{% static '/vendors/hammer/jquery.hammer.js' %}"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="viewport" content="width=device-width, user-scalable=no" />

	<style type="text/css">
		body {
			margin:0;
			padding:0;
		}

		.box-container {
			display: flex;
			flex-wrap: wrap;
		}

		.large-box {
			width: 100%;
			height: 300px;
			background: #0d124a;
			padding: 5px;
			margin: 0 10px 10px 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.small-box {
			width: 100px;
			height: 100px;
			background: #7ce6df;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.action-complete {
			background: #ffffff;
		}
	</style>

</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h3>Task 4</h3>
				<div class="box-container">
					<div class="large-box">
						<div class="small-box" id="rotate-box">Rotate</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pinch-box">Pinch</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="press-box">Press</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pan-box">Pan</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="tap-box">Tap</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="swipe-box">Swipe</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
	  // your solution here
    
    $(document).ready(()=> {
      var rot = document.getElementById('rotate-box');
      var pin = document.getElementById('pinch-box');
      var prs = document.getElementById('press-box');
      var pn = document.getElementById('pan-box');
      var tp = document.getElementById('tap-box');
      var swp = document.getElementById('swipe-box');
      
/*      hammertime.get('rotate').set({ enable: true });
      hammertime.get('pinch').set({ enable: true });
      hammertime.get('press').set({ enable: true });
      hammertime.get('pan').set({ enable: true });
      hammertime.get('tap').set({ enable: true });
      hammertime.get('swipe').set({ enable: true }); */
      
      var rotate = new Hammer.Rotate();
      var pinch = new Hammer.Pinch();
      var press = new Hammer.Press();
      var pan = new Hammer.Pan();
      var tap = new Hammer.Tap();
      var swipe = new Hammer.Swipe();
      
      var mcrotate = new Hammer.Manager(rot);
      var mcpinch = new Hammer.Manager(pin);
      var mcpress = new Hammer.Manager(prs);
      var mcpan = new Hammer.Manager(pn);
      var mctap = new Hammer.Manager(tp);
      var mcswipe = new Hammer.Manager(swp);
      
      mcrotate.add(rotate);
      mcpinch.add(pinch);
      mcpress.add(press);
      mcpan.add(pan);
      mctap.add(tap);
      mcswipe.add(swipe);
      
      mcrotate.on('rotate', function(ev_rotate) {
        rot.textContent = 'Done';
        $('#rotate-box').css('backgroundColor', 'red');
      });
      mcpinch.on('pinch', function(ev_pinch) {
        pin.textContent = 'Done';
        $('#pinch-box').css('backgroundColor', 'orange');
      }); 
      mcpress.on('press', function(ev_press) {
        prs.textContent = 'Done';
        $('#press-box').css('backgroundColor', 'yellow');
      }); 
      mcpan.on('pan', function(ev_pan) {
        pn.textContent = 'Done';
        $('#pan-box').css('backgroundColor', 'green');
      }); 
      mctap.on('tap', function(ev_tap) {
        tp.textContent = 'Done';
        $('#tap-box').css('backgroundColor', 'blue');
      }); 
      mcswipe.on('swipe', function(ev_swipe) {
        swp.textContent = 'Done';
        $('#swipe-box').css('backgroundColor', 'purple');
      }); 
      
    }); 
    
  </script>
</body>
</html>
